@media screen and (max-width: 1024px) {

  .horizontal-list {
    padding-top: 0;
    padding-left: 0px;
  }
  .nav-item-holder{
    display: none;
  }
  .avatar-float-image {
    display: none;
  }

  .personal-info-list {
    list-style-type: none;
    padding-left: 0;
  }

  .career-info {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .card-section {
    padding: 10px;
  }
  
  .card-entry-list {
    list-style-type: none;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .card-entry-details {
    list-style-type: "- ";
    padding-left: 6px;
  }
  
  .level-title {
    font-size: 20px;
    padding-bottom: 8px;
  }
  
  .level-grid {
    column-gap: 20px;
  }

  .cert-content {
    grid-template-columns: 1fr; /* Chuyển card thành 1 cột -> Ảnh trên, Text dưới */
    row-gap: 15px;
    justify-items: stretch;
  }

  .cert-image {
    max-width: 100%; /* Cho phép ảnh kéo dãn hết chiều rộng card trên Tablet */
  }


  .project-metadata-wraper{
    display: flex;
    flex-direction: column;
  }
}
